*{
    font-family: "IBM Plex Sans", sans-serif;
    color: #000; 
    font-weight: 400;
    font-style: normal;
}


.logo {
    position: absolute;
    margin-left: 3rem;
    width: 15%;
    height: 10rem;  
}

.menu-nav img{
    position: absolute;
    margin-left: 2rem;
    width: 8%;
    height: 2rem;  
}

.feed{
    margin-top: 11rem;
}

.buscar{
    margin-top: 15rem;
}

.notif{
    margin-top: 19rem;
}

.amistades{
    margin-top: 23rem;
}

.publicar{
    margin-top: 27rem;
    left: 0.1rem;
}

.perfil{
    margin-top: 31rem;
}

.foto-perfil{
    margin-left: 16rem;
    margin-top: 2.6rem;
    position: absolute;
    width: 10.5%;
    height: 8rem;
}

.username{
    position: absolute;
    margin-left: 26rem;
    margin-top: 2.7rem;
}

.boton-editar-perfil{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #9F86C0;
    position: absolute;
    margin-left: 34.5rem;
    margin-top: 2.5rem;
    padding: 6px 12px;
    border-radius: 5px;
    border:none;
}

a {
color: #fff;
    text-decoration: none;
}

.bio {
    margin-left: 26rem;
    margin-top: 5.6rem;
    position: absolute;
}

.icon{
    width: 3%;
    height: 1rem;
}

.info-user{
    margin-left: 1rem;
}

.apariencia-icon  {
    margin-left: 23.9rem;
    margin-top: 8.8rem;
    position: absolute;
}

.especie-y-raza {
    margin-left: 26rem;
    margin-top: 8.7rem;
    position: absolute;
}

.nacimiento-icon{
    margin-left: 33.1rem;
    margin-top: 8.8rem;
    position: absolute;
}

.nacimiento {
    margin-left: 35.2rem;
    margin-top: 8.7rem;
    position: absolute;
}

.ubicacion-icon{
    position: absolute;
    margin-left: 23.9rem;
    margin-top: 11.6rem;
}

.ubicacion{
    margin-left: 26rem;
    margin-top: 11.5rem;
    position: absolute;
}

.calendario-icon{
    margin-left: 23.9rem;
    margin-top: 14.4rem;
    position: absolute;
}

.union{
    margin-left: 26rem;
    margin-top: 14.3rem;
    position: absolute;
}