*{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
body::-webkit-scrollbar-thumb {
    background: #9F86C0; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

.logo {
    position: absolute;
    margin-left: 3rem;
    width: 15%;
    height: 10rem;  
}

.menu-nav img{
    position: absolute;
    margin-left: 2rem;
    width: 8%;
    height: 2rem;  
}

.feed{
    margin-top: 11rem;
}

.buscar{
    margin-top: 15rem;
}

.notif{
    margin-top: 19rem;
}

.amistades{
    margin-top: 23rem;
}

.publicar{
    margin-top: 27rem;
    left: 0.1rem;
}

.perfil{
    margin-top: 31rem;
}


#stories-container{
    margin-left: 17rem;
    margin-top: 1.6rem;
    position: absolute;
    display: flex;
}

.story{
    width: 20%;
    height: 4rem;
    border: 0.2rem solid #BE95C4;
    border-radius: 50rem;
    margin-left: 1.25rem;
}

.perfil-container{
    margin-left: 60rem;
    margin-top: 1.6rem;
    position: absolute;
}

.foto-perfil{
    height: 5rem;
}

.username{
    margin-left: 6rem;
    margin-top: -3.8rem;
}

.posts-feed{
    margin-top: 15rem;
    position: absolute;
}

.foto-perfil-publicacion{
   
}